Flask==2.3.2
Werkzeug==2.3.6
Jinja2==3.1.2
itsdangerous==2.1.2
click==8.1.3
colorama==0.4.6
gunicorn
requests
sqlalchemy
flask-login
flask-wtf
wtforms
flask-migrate
flask-sqlalchemy
email-validator
python-dotenv
pandas
numpy
matplotlib
seaborn
scikit-learn
joblib
nltk
spacy
beautifulsoup4
lxml
urllib3
certifi
charset-normalizer
idna
pytz
dateparser
flask-restful
flask-cors
flask-bcrypt
passlib
bcrypt
pyjwt
redis
celery
flower
pytest
coverage
black
flake8
isort
mypy
sqlparse
psycopg2-binary
pymongo
dnspython
firebase-admin
stripe
twilio
sendgrid
markdown
python-dateutil
plotly
dash
networkx
opencv-python
pillow
tqdm
rich
typer
fastapi
uvicorn
starlette
httpx
orjson
msgpack
websockets
aiofiles
anyio
h11
h2
hpack
hyperframe
jinja2-time
lazy-object-proxy
packaging
pyparsing
setuptools
wheel
zipp
attrs
six
toml
cryptography
cffi
pycparser
blinker
markupsafe
